.contact {
    width: 100%;
    background-color: lightgrey;
    align-items: center;
    padding-left: 250px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.contact h1 {
    padding: 5% 10%;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	text-shadow:
		0 0.03em 0.03em pink,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
}

.contactImg {
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
}

@media (max-width: 820px) {
    .contact {
        padding-left: 15%;
    }
}