.project {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-left: 250px;
    padding-bottom: 50px;
    align-items: center;
    padding-top: 20px;
}

.project h1 {
    padding: 5% 10%;
    font-size: 3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	text-shadow:
		0 0.03em 0.03em pink,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
}

.projectList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3%;
}

@media (max-width: 823px) {
    .project {
        padding-left: 15%;
        max-width: 100%;
    }
}


